![travis](https://travis-ci.com/github/ckanich-classrooms/final-project-dumb-students-1.svg?branch=master)

Note: If it says build passing then the test cases passed
