extends layout

block content
  h1 UI School Notifier
  p Welcome to the University of Illinois School Notifier
  form(action="/testInput", method="POST")
    input(type="text", name="theInput")
    button(type="Submit") Submit
