<html>
    <head>
        <title>UIC Notifier</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
    </head>
    <body>
        <div>
            Table of Contents:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{ url_for('register') }}">Register</a>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

        <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
    </body>
</html>